body{
    font-family: Arial, Helvetica, sans-serif;
}

#displayBox{
    width: 600px;
    height: 600px;
    border: 10px solid black;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 60px;
}

#displayInfo{
    height: 300px;
    width: 600px;
    background-color: red;
    
}

#displayList{
    height: 300px;
    width: 600px;
    background-color: white;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

.pokeListBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.pokeListThumbnail{
    align-items: center;
    width: 110px;
    height: 110px;
    margin-right: auto; /*adjust this value to adjust spacing between each pokemon listing*/
    overflow: hidden;
}

.pokeListThumbnail img{
    max-width: 100%;
    max-height: 100%;
}

.pokeListBox{
    border: 1px solid black;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin: auto;
    width: 40%;
    height: 40%;
    margin-left: 3%;
}

#displayInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.pokeDesc{
    margin: 3%;
    background-color: white;
    border: 1px solid black;
    padding: 15px;
    border-radius: 25px;
    overflow-y: auto;
}



.pokeImgUpdated{
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    margin: 1%;
}

#pokeName{
    font-size: larger;
    font-weight: bold;
    color: white;
}